 @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); 


body{
  background-color: pink;
  font-family: 'Itim', cursive;
}

.menu{
  background-color: rgb(255, 255, 255);
  

}

.uuuu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  padding: 50px 50px;
  
}

li{
  display: inline;
  margin: 10%;
}
a{
  font-family: 'Itim', cursive;
  font-size: 20px;
  text-decoration: none;
  color:black;
  margin: bottom 10%;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;

}
a:hover{
  color: grey;
}